#search-result {
  position: absolute;
  display: none;
  min-width: 500px;
  top: 105%;
  left: calc(50% - 250px);
  padding: .5em;
  margin: 0 0 1em 3.5em;
  background: #eee;
  border: 1px solid #000000;

  &.active {
    display: block;
  }

  .list-item {
    padding: .2em .7em .3em;
    background: #eee;
    border: 2px solid #222;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      border-color: #00e;
    }

    + .list-item {
      margin-top: 2px;
    }
  }
}

