#search-result {
  position: absolute;
  display: none;
  width: 100%;
  padding-left: 0;
  margin: 0;
  top: 105%;
  right: 0;

  &.active {
    display: block;
  }

  .list-item {
    padding: .2em .7em .3em;
    background: #eee;
    border: 2px solid #222;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      border-color: #00e;
    }

    + .list-item {
      margin-top: 2px;
    }
  }
}

